@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 16px;
}

body {
  @apply bg-neutral-5 text-neutral-1;
}

.default-button {
  @apply transparent-button bg-primary-4;
}

.transparent-button {
  @apply rounded-lg p-2 text-b-m active:brightness-90 disabled:cursor-not-allowed min-h-10 min-w-10 flex items-center justify-center;
}
